<% for( let i = 0; i < review.length; i++ ) { %>
<div class="w-11/12 md:w-3/4 lg:w-1/2 mx-auto rounded shadow-xl my-6 p-6 text-left bg-white">
   <div class="text-xl pb-2">
      	<a href="/users/<%= review[i].user.username %> ">
        	<b class="font-bold"><%= review[i].user.username %></b>
      	</a>
   </div>
   <div class="pb-2 font-bold">
      	<% if (review[i].rating == 0 || review[i].rating > 10) { %>
         	<i class="fas fa-star" style="color: #fffb00;"></i>
      	<% } else { %>
     	<% for( let j = 0; j < (review[i].rating / 2); j++ ) { %>
        	<i class="fas fa-star" style="color: #fffb00;"></i>
      	<% } %>
      	<% } %>
   </div>
   <div class="pb-4 text-justify">
        <%= review[i].series_review %> 
	</div>
	<div class="pb-2 text-right text-xs">
		created <%= moment(review[i].createdAt).format('Do MMM YYYY h:mm a') %>
	</div>
	<div class="pb-2 text-right text-xs">
        updated <%= moment(review[i].updatedAt).format('Do MMM YYYY h:mm a') %>
	</div>
	<!-- <% if(review[i].createdAt == review[i].updatedAt) { %>
	<div class="pb-2 text-right text-xs">
		created <%= moment(review[i].createdAt).calendar() %>
	</div>
	<% } else { %>
    <div class="pb-2 text-right text-xs">
        updated <%= moment(review[i].updatedAt).calendar() %>
	</div>
	<% } %> -->
</div>
<% } %>